@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:"Agbalumo" ;
}
.header-ko {
    position: relative;
}

.header-ko .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.navbar{
    position: absolute;
    min-height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 95%;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.logo
{
    position: relative;
    margin-top: 10px;
}

/* Add this CSS rule to set the size of the logo image */
.logo-img {
    width: 20px; /* Adjust the width to make the logo smaller */
    height: 20px; /* This maintains the aspect ratio */
}
.nav-link{
    transition:0.7s ease;

}
.nav-link:hover{
    color: yellow;
}
.hamburger{
    display: none;
    cursor: pointer;
    
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
     opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed ;
        left: -130%;
        top:120px;
        gap:0;
        flex-direction: column;
        background-color:white;
        width: 100%;
        text-align:center;
        transition: 0.3s;
        z-index: 1000;

    }

    .nav-item{
        margin: 16px 0;
       
    }
    .nav-menu.active{
        left: 0;
    }
    .header-ko {
        width: 100%;
        height: auto; /* Adjust the height as needed */
    }
}





h5 {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2rem;
    margin-top: 4em;
    font-weight: bold; /* Responsive font size */
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx{
  padding: 5px;
  color: #fff;
  background: #000000;  
  border-radius: 50%;
}
.social a .bx:hover{
    background: var(--main-color);
}
.links{
    margin:1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover {
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
